* {
  padding: 0;
  margin: 0;
}

.bar-header {
  width: 100%;
  height: 2rem;
  position: fixed;
  text-align: center;
  background-color: rgb(196, 196, 196);
}

.content {
  padding-top: 2rem;
}

.bar-footer {
  width: 100%;
  height: 2rem;
  position: absolute;
  bottom: 0;
}
